[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pygmt = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "@PYTHON_VERSION@"
